html body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.wrapper{
    background-color: darkmagenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    
}

.color_block{
    flex: 1;
    height: 400px;
    background-color: pink;

}

#data{
    background-color: rgb(208, 201, 215);
}
#data1{
    background-color: rgb(31, 24, 37);
}
#data2{
    background-color: rgb(94, 0, 188);
}
#data3{
    background-color: rgb(16, 93, 87);
}

#button{
    font-size: x-large;
}

#space_button{
    font-size: large;
}

#token{
    height: 40vh;
    width: 75vw;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 80px;
    
}

#ui_wrapper{
    background-color: gray;
    height: 20vh;
    margin-top: 10px;
}

.active{
    display: block;
}

.inactive{
    display: none;
}

